<form action="{{ url_for('update_wait_time', category='physicals')}}" method="post">
    <h1>Physicals Wait Time</h1>
    <p style="font-size: 18px;"></p>Current wait time: {{ physicals_wait_time }} minutes</p>
    <label for="hours">Hours:</label>
    <input id="hours" name="hours" type="number" min="0" placeholder="0" style="width: 60px;">

<label for="minutes">Minutes:</label>
<input id="minutes" name="minutes" type="number" min="0" max="59" placeholder="0" style="width: 60px;">
    <button type="submit" style="font-size: 18px; padding: 10px 20px;">Update Wait Time</button>
</form>
<a href="{{ url_for('index') }}" 
   style="display: inline-block; padding: 10px 15px; font-size: 22px; text-align: center; 
   background-color: orange; color: white; border: 2px solid orange; border-radius: 5px; 
   text-decoration: none; margin-top: 10px;">
   Main Menu
</a>